<div class="adv__wrapper">

    <div class="nice_title center green middle">
        <span>
        Что мы можем?
        </span>
    </div>

    <div class="adv__main">

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Разрабатываем сайты и мобильные приложения, API
            </div>
            <div class="adv__main__item__counter">
                01
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Оказываем услуги рекламы в Интернете
            </div>
            <div class="adv__main__item__counter">
                02
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Интегрируем работу с социальными сетями
            </div>
            <div class="adv__main__item__counter">
                03
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Разрабатываем и внедряем чат-ботов для Telegram, Vk, WhatsApp, Viber
            </div>
            <div class="adv__main__item__counter">
                04
            </div>
        </div>
        

    </div>
</div>